<nav>
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Support</a></li>
    </ul>
</nav>
// to add to app.js we use include
// <% include partials/nav.ejs %>